In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

import warnings
warnings.filterwarnings('ignore')

# 1. 글로벌 확진자 데이터

In [2]:
# 글로벌 확진 데이터
glob = pd.read_csv('./data/global.csv', thousands = ',')

In [3]:
glob1 = glob[glob['국가']=='발생']

In [4]:
# 날짜 변수 변경
glob1['날짜'] = glob1['날짜'].astype(int)
glob1['날짜'] = glob1['날짜'].astype('object')
# 날짜 형태로 변경
glob1['날짜'] = pd.to_datetime(glob1['날짜'], format='%Y%m%d')
# na 값 0으로 처리
glob1.fillna(0, inplace=True)

In [5]:
glob1.head()

,날짜,국가,중국,홍콩,대만,마카오,일본,싱가포르,태국,말레이시아,...,그린랜드,맨섬,터크스 케이커스 제도,앵귈라,영국령 버진아일랜드,북마리아나제도,카리브 네덜란드,포클랜드제도,생피에르미클롱,합계
0,2020-01-20,발생,201.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,204.0
2,2020-01-21,발생,219.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,222.0
4,2020-01-22,발생,309.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,314.0
6,2020-01-23,발생,571.0,1.0,1.0,1.0,1.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,580.0
8,2020-01-24,발생,830.0,2.0,1.0,2.0,2.0,1.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,845.0

## 국가 확인

In [6]:
glob.columns

Index(['날짜', '국가', '중국', '홍콩', '대만', '마카오', '일본', '싱가포르', '태국', '말레이시아',
       ...
       '그린랜드', '맨섬', '터크스 케이커스 제도', '앵귈라', '영국령 버진아일랜드', '북마리아나제도', '카리브 네덜란드',
       '포클랜드제도', '생피에르미클롱', '합계'],
      dtype='object', length=219)

In [7]:
glob1.drop('국가', axis=1, inplace=True)

In [8]:
glob1.rename(columns={'날짜':'Date'}, inplace=True)

In [9]:
# 특수 문자 들어가 있는 컬럼 확인
for i in list(glob1.columns):
    if glob1['{}'.format(i)].dtypes == 'object':
        print(i)

독일
스페인

In [10]:
glob1['독일']=glob1['독일'].str.replace('*', "")
glob1['스페인']=glob1['스페인'].str.replace('*', "")
glob1['독일']=glob1['독일'].str.replace(',', "")
glob1['스페인']=glob1['스페인'].str.replace(',', "")

In [140]:
# 결측치 확인
glob1.isnull().sum().sum()

0

In [12]:
# 0으로 대체
glob1.fillna(0,inplace=True)

In [13]:
# object -> int
glob1['독일'] = glob1['독일'].astype('int64')
glob1['스페인'] = glob1['스페인'].astype('int64')

In [15]:
glob1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102 entries, 0 to 202
Columns: 218 entries, Date to 합계
dtypes: datetime64[ns](1), float64(215), int64(2)
memory usage: 174.5 KB

In [16]:
# 전체 데이터 int형태로 변경
glob1.iloc[:,1:] = glob1.iloc[:,1:].astype('int64')

## 국가 추출
- 주요 국가만 추출해서 사용한다
- 주요 국가는 질병관리본부 브리핑에 언급되는 나라들로 구성

#### 유럽 국가
- 영국, 프랑스, 독일, 스페인, 이탈리아

#### 아시아
- 중국, 대만, 태국, 베트남, 일본, 우즈베키스탄, 카자흐스탄, 파키스탄, 인도, 싱가포르, 아랍에미리트

#### 미주
- 미국

In [144]:
glob1['']

,중국,홍콩,대만,마카오,일본,싱가포르,태국,말레이시아,베트남,인도,...,그린랜드,맨섬,터크스 케이커스 제도,앵귈라,영국령 버진아일랜드,북마리아나제도,카리브 네덜란드,포클랜드제도,생피에르미클롱,합계
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-20,201,0,0,0,1,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,204
2020-01-21,219,0,0,0,1,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,222
2020-01-22,309,0,1,0,1,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,314
2020-01-23,571,1,1,1,1,0,4,0,0,0,...,0,0,0,0,0,0,0,0,0,580
2020-01-24,830,2,1,2,2,1,4,0,2,0,...,0,0,0,0,0,0,0,0,0,845
2020-01-25,1287,5,3,2,2,3,5,0,2,0,...,0,0,0,0,0,0,0,0,0,1315
2020-01-26,1975,5,3,2,3,4,5,4,2,0,...,0,0,0,0,0,0,0,0,0,2010
2020-01-27,2744,8,4,5,4,4,8,4,2,0,...,0,0,0,0,0,0,0,0,0,2794
2020-01-28,4515,8,5,6,4,4,8,4,2,0,...,0,0,0,0,0,0,0,0,0,4572
2020-01-29,5974,8,8,7,7,5,14,4,2,0,...,0,0,0,0,0,0,0,0,0,6052
2020-01-30,7711,10,8,7,9,10,14,7,2,0,...,0,0,0,0,0,0,0,0,0,7808
2020-01-31,9692,12,9,7,12,13,14,8,2,1,...,0,0,0,0,0,0,0,0,0,9805
2020-02-01,11791,12,10,7,15,13,19,8,5,1,...,0,0,0,0,0,0,0,0,0,11924
2020-02-02,14380,13,10,7,15,16,19,8,6,1,...,0,0,0,0,0,0,0,0,0,14528
2020-02-03,17205,14,10,8,15,18,19,8,7,2,...,0,0,0,0,0,0,0,0,0,17363
2020-02-04,20438,15,10,8,16,18,19,8,8,3,...,0,0,0,0,0,0,0,0,0,20603
2020-02-05,24324,18,11,10,19,22,19,10,10,3,...,0,0,0,0,0,0,0,0,0,24509
2020-02-06,28018,21,11,10,31,26,25,10,0,3,...,0,0,0,0,0,0,0,0,0,28230
2020-02-07,31161,21,13,10,45,28,25,12,10,3,...,0,0,0,0,0,0,0,0,0,31398
2020-02-08,34546,26,16,10,25,30,25,14,12,3,...,0,0,0,0,0,0,0,0,0,34844
2020-02-09,37198,26,17,10,26,33,32,15,13,3,...,0,0,0,0,0,0,0,0,0,37516
2020-02-10,40171,26,18,10,26,40,32,17,14,3,...,0,0,0,0,0,0,0,0,0,40505
2020-02-11,42638,42,18,10,26,43,32,18,14,3,...,0,0,0,0,0,0,0,0,0,43065
2020-02-12,44653,49,18,10,26,45,33,18,15,3,...,0,0,0,0,0,0,0,0,0,45097
2020-02-13,59804,50,18,10,28,50,33,18,15,3,...,0,0,0,0,0,0,0,0,0,60300
2020-02-14,63851,50,18,10,29,50,33,18,16,3,...,0,0,0,0,0,0,0,0,0,64392
2020-02-15,66492,56,18,10,40,67,33,19,16,3,...,0,0,0,0,0,0,0,0,0,67070
2020-02-16,68500,56,18,10,52,72,34,21,16,3,...,0,0,0,0,0,0,0,0,0,69166
2020-02-17,70548,56,20,10,53,72,34,22,16,3,...,0,0,0,0,0,0,0,0,0,71288
2020-02-18,72436,60,22,10,59,77,35,22,16,3,...,0,0,0,0,0,0,0,0,0,73295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-01,81554,714,322,41,2178,926,1524,2626,203,1071,...,10,42,5,2,2,2,0,0,0,832398
2020-04-02,81589,766,329,41,2384,1000,1771,2766,207,1636,...,10,52,5,2,3,2,0,0,0,907327
2020-04-03,81620,802,339,41,2617,1049,1771,2766,218,1636,...,10,65,5,2,3,6,0,0,0,983445
2020-04-04,81639,845,348,43,2920,1114,1875,3116,233,1965,...,10,71,5,2,3,8,0,0,0,1067644
2020-04-05,81669,862,355,44,3271,1189,1978,3333,239,2301,...,10,114,5,3,3,8,2,0,0,1154271
2020-04-06,81708,890,363,44,3654,1309,2067,3483,240,3374,...,10,126,5,3,3,8,2,1,0,1226561
2020-04-07,81740,914,373,44,3906,1375,2169,3662,241,4067,...,11,127,5,3,3,8,2,2,0,1296002
2020-04-08,81802,935,376,44,4257,1481,2220,3793,245,4067,...,11,127,5,3,3,8,2,2,0,1362490
2020-04-09,81865,960,379,45,4768,1623,2369,3963,249,5194,...,11,150,8,3,3,8,2,2,1,1449167
2020-04-10,81907,973,380,45,5347,1910,2423,4119,251,5734,...,11,150,8,3,3,11,2,5,1,1539288
2020-04-11,81953,990,382,45,6005,2108,2473,4228,255,6412,...,11,165,8,3,3,11,2,5,1,1630474
2020-04-12,82052,1000,385,45,6748,2299,2518,4346,257,7447,...,11,190,8,3,3,11,2,5,1,1712851
2020-04-13,82160,1004,388,45,7255,2532,2551,4530,258,8356,...,11,204,8,3,3,11,2,5,1,1788348
2020-04-14,82249,1009,393,45,7645,2918,2579,4683,262,9152,...,11,226,9,3,3,11,3,5,1,1854196
2020-04-15,82295,1012,393,45,8100,3252,2613,4817,265,10815,...,11,228,9,3,3,11,3,5,1,1915819
2020-04-16,82341,1016,395,45,8582,3699,2643,4987,266,11933,...,11,242,10,3,3,13,4,11,1,2012810
2020-04-17,82367,1017,395,45,9167,4427,2672,5072,267,12380,...,11,254,10,3,3,13,4,11,1,2081151
2020-04-18,82719,1021,395,45,9795,5050,2700,5182,268,13835,...,11,258,11,3,3,13,4,11,1,2178283
2020-04-19,82735,1023,398,45,10361,5992,2733,5251,268,14378,...,11,289,11,3,3,14,5,11,1,2262162
2020-04-20,82747,1025,420,45,10751,6588,2765,5305,268,16116,...,11,291,11,3,3,14,5,11,1,2335433
2020-04-21,82758,1025,422,45,11118,8014,2792,5389,268,17265,...,11,297,11,3,4,14,5,11,1,2408855
2020-04-22,82788,1029,425,45,11496,9125,2811,5424,268,18985,...,11,297,11,3,4,14,5,11,1,2502606
2020-04-23,82798,1033,426,45,11919,10141,2826,5482,268,19984,...,11,307,11,3,4,14,5,11,1,2563858
2020-04-24,82804,1035,427,45,12388,11178,2839,5532,268,21700,...,11,307,11,3,4,14,5,12,1,2653573
2020-04-25,82816,1035,428,45,12829,12075,2854,5603,268,23077,...,11,307,11,3,5,14,5,12,1,2507495
2020-04-26,82827,1037,429,45,13182,12693,2907,5691,270,24942,...,11,308,11,3,5,14,5,12,1,2824379
2020-04-27,82830,1037,429,45,13385,13624,2922,5742,270,26496,...,11,308,11,3,6,14,5,13,1,2893894
2020-04-28,82836,1037,429,45,13576,14423,2931,5780,270,28380,...,11,308,11,3,6,14,5,13,1,2966172
2020-04-29,82858,1037,429,45,13852,14951,2938,5820,270,29435,...,11,308,12,3,6,14,6,13,1,3034444
2020-04-30,82862,1037,429,45,14088,15641,2947,5851,270,31787,...,11,308,12,3,6,14,6,13,1,3110369

In [17]:
glob1.set_index('Date', inplace=True)

In [37]:
euro = ['영국', '프랑스', '독일', '스페인', '이탈리아']
china = ['중국', '홍콩', '마카오']
asia = ['대만', '태국', '베트남', '일본', '우즈베키스탄', '카자흐스탄', '파키스탄', '인도', '싱가포르', '아랍에미리트']
america = ['미국']

In [41]:
glob2 = pd.DataFrame()

In [42]:
glob2['EURO'] = glob1[euro].sum(axis=1)
glob2['CHINA'] = glob1[china].sum(axis=1)
glob2['ASIA'] = glob1[asia].sum(axis=1)
glob2['AMERICA'] = glob1[america].sum(axis=1)

In [43]:
new_glob=glob2.reset_index()

In [45]:
new_glob.head()

        Date  EURO  CHINA  ASIA  AMERICA
0 2020-01-20     0    201     3        0
1 2020-01-21     0    219     3        0
2 2020-01-22     0    309     4        1
3 2020-01-23     0    573     6        1
4 2020-01-24     0    834    10        1

# 2. 로밍데이터

In [61]:
# 로밍데이터
roam1 = pd.read_csv('./data/corona_contest_data_0406/2. Roaming_data.csv')
roam2 = pd.read_csv('./data/corona_contest_data_0429/2. Roaming_data.csv')

In [62]:
roam = pd.concat([roam1, roam2])
roam.head()

     return iso   arrival  departure  count
0  20200131  ad  20200130   20200130      3
1  20200131  ae  20191231   20200125      3
2  20200131  ae  20191231   20200131      3
3  20200131  ae  20200102   20200102      3
4  20200131  ae  20200104   20200131      3

In [63]:
print(roam1.shape)
print(roam2.shape)
print(roam.shape)

(212325, 5)
(5480, 5)
(217805, 5)

In [64]:
# 날짜 변수로 변경
roam['return'] = pd.to_datetime(roam['return'], format='%Y%m%d')
roam['arrival'] = pd.to_datetime(roam['arrival'], format='%Y%m%d')
roam['departure'] = pd.to_datetime(roam['departure'], format='%Y%m%d')

# 파생변수 생성
# arrival과 return의 차를 내서 해외에 체류한 일자수를 계산함
roam['stay'] = roam['return'] - roam['arrival']
roam.rename(columns={'return':'Date'}, inplace=True)

In [69]:
euro_dict = {'gb':'영국', 'fr':'프랑스', 'de':'독일', 'es':'스페인', 'it':'이탈리아'}

In [70]:
china_dict = {'cn':'중국', 'hk':'홍콩', 'mo':'마카오'}
asia_dict = {'tw':'대만', 'th':'태국', 'vn':'베트남', 'jp':'일본', 'uz':'우즈베키스탄', 'kz':'카자흐스탄', 'pk':'파키스탄', 'in':'인도', 'sg':'싱가포르', 'ae':'아랍에미리트'}

In [89]:
america_dict = {'us':'미국'}

In [75]:
pivoted_roam = roam.pivot_table(index='Date', 
                 columns='iso',
                 values='count',
                 aggfunc='sum')

In [92]:
new_roam = pd.DataFrame()

In [93]:
new_roam['EURO'] = pivoted_roam[list(euro_dict.keys())].sum(axis=1)
new_roam['CHINA'] = pivoted_roam[list(china_dict.keys())].sum(axis=1)
new_roam['ASIA'] = pivoted_roam[list(asia_dict.keys())].sum(axis=1)
new_roam['AMERICA'] = pivoted_roam[list(america_dict.keys())].sum(axis=1)

In [96]:
new_roam.reset_index(inplace=True)

# Merge Datesets

In [102]:
df = pd.merge(new_glob, new_roam, on='Date', suffixes=('_conf', '_roam'),)

In [143]:
df.tail()

,Date,EURO_conf,CHINA_conf,ASIA_conf,AMERICA_conf,EURO_roam,CHINA_roam,ASIA_roam,AMERICA_roam,TARGET
94,2020-04-24,815008,83884,72112,873137,39.0,197.0,311.0,99.0,1023
95,2020-04-25,833344,83896,75770,890524,34.0,73.0,298.0,108.0,1027
96,2020-04-26,848019,83909,80183,933933,62.0,126.0,294.0,100.0,1037
97,2020-04-27,840219,83912,85138,963168,50.0,67.0,194.0,106.0,1044
98,2020-04-28,852811,83918,88951,987022,15.0,143.0,224.0,102.0,1056

## 한국 해외유입확진자 데이터 로드

In [122]:
ov = pd.read_csv('./data/oversea_inflow.csv')
# 불필요 row 삭제
ov.drop([0,106], axis=0, inplace=True)

In [124]:
ov.rename(columns={'date':'Date', 'oversea_inflow':'TARGET'}, inplace=True)

In [131]:
ov['Date'] = pd.to_datetime(ov['Date'])

In [132]:
new_ov = ov[['Date','oversea_inflow']]
new_ov.head()

In [137]:
df = pd.merge(df, new_ov, on='Date')

In [142]:
# 데이터 저장
df.to_csv('./data/total.csv')